﻿body {
<<<<<<< Updated upstream
    background-color: #f4f4f4;
=======
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
>>>>>>> Stashed changes
}

.container {
    max-width: 100%;
    padding: 10px;
}

.btn-primary {
    margin-bottom: 15px; 
}

.responsive-table {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.table-header, .table-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.table-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
}


.col {
    flex: 1;
    text-align: center;
    padding: 10px;
    word-wrap: break-word; 
    white-space: normal; 
}


@media (max-width: 767px) {
    .table-header {
        display: none;
    }

    .table-row {
        flex-direction: column;
        padding: 15px;
    }

    .col {
        flex-basis: 100%;
        display: flex;
        padding: 10px 0;
    }

        .col:before {
            color: #6C7A89;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 50%;
            text-align: right;
            font-weight: bold;
        }
}