body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container that holds the table */
.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 5px;
}

    /* Add styling for the heading and button container */
    .container h2 {
        margin-bottom: 15px;
        display: inline-block;
    }


.btn-success {
    background-color: #28a745;
    color: white;
    padding: 5px 8px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
    width: 10em;
    height: 3em;
}

    .btn-success:hover {
        background-color: #218838;
    }

/* Table container */
.responsive-table {
    min-width: auto;
    width: 100%;
    table-layout: fixed;
    list-style-type: none;
    padding: 0;
}

.button-wrapper {
    display: flex;
    justify-content: flex-start;
}


.table-header {
    background-color: #3675ac;
    color: #eaeef1;
    padding: 8px 10px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    display: flex;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Table row */
.table-row {
    background-color: #e8edf3;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 10px;
    border-radius: 3px;
    justify-content: center;
    font-size: 20px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {
    padding: 5px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
}

.col-1 {
    flex: 0.6;
}

.col-2 {
    flex: 0.8;
}

.col-3 {
    flex: 0.9;
}

.col-4 {
    flex: 0.9;
}

.col-5 {
    flex: 0.8;
}

.col-6 {
    flex: 0.8;
}

.col-7 {
    flex: 0.6;
}

.col-8 {
    flex: 0.8;
}

.col-9 {
    flex: 0.8;
}

.col-10 {
    flex: 0.8;
}



.col {
    position: relative;
}

    .col:hover::after {
        content: attr(data-label) ": " attr(title);
        position: absolute;
        left: 0;
        top: 100%;
        background: #333;
        color: #fff;
        padding: 5px;
        border-radius: 3px;
        z-index: 1;
        max-width: 200px;
        white-space: normal;
        display: none;
    }

/* Mobile styles */
@media (max-width: 767px) {
    .table-header {
        display: none;
    }

    .table-row {
        flex-direction: column;
        padding: 15px;
    }

    .col {
        width: 100%;
        text-align: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .col:before {
            color: #6C7A89;
            content: attr(data-label);
            font-weight: bold;
            text-align: left;
            flex: 1;
        }
}


.col-11 {
    flex: 0.8;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

    .col-11 form {
        display: inline-block;
    }


.modal {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    height: 115vh;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.form-group {
    margin-bottom: 10px;
}

    .form-group label {
        display: block;
        font-weight: bold;
    }

    .form-group input {
        width: 95%;
        padding: 8px;
        margin-top: 5px;
        font-size: 15px;
    }

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 5px 8px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary {
    background-color: #28a745;
    color: white;
    height: 40px;
    font-size: 14px;
}

    .btn-primary:hover {
        background-color: #218838;
    }

.btn-danger {
    background-color: #e74c3c;
    color: white;
    height: 30px;
    font-size: 14px;
    width: 100%;
}

.btn-warning {
    background-color: forestgreen;
    color: white;
    height: 30px;
    font-size: 14px;
}

.btn-first {
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease;
}

    .btn-first:hover {
        background-color: #218838;
    }

.pagination {
    text-align: center;
    margin-top: 15px;
}

    .pagination button {
        padding: 8px 12px;
        margin: 5px;
        border: none;
        background-color: #ddd;
        cursor: pointer;
        border-radius: 5px;
    }

        .pagination button.active {
            background-color: #3498db;
            color: white;
        }

        .pagination button:hover {
            background-color: #bbb;
        }

.dashboard, section {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.col.col-8.actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cancelbtn {
    width: 70px;
    height: 40px;
    background-color: #ec3f3f;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-info {
    background-color: forestgreen;
    color: azure;
    font-size: 14px;
}
